{{> head }}
{{> navbar }}
<divn class="row">
    <div class="col-8">
        <h1>View About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita quae doloremque ipsam pariatur ipsa.
            Culpa quidem dignissimos cumque mollitia corrupti impedit, totam, veritatis, similique alias possimus sed
            dolorum minus laudantium.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img-homepage.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}